/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif;
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts {
  font-style: normal;
}

.logo {
  margin-right: 76px;
  padding: 24px 0;
}

.logo-part {
  color: #2e2f42;
}

.heder-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.contacts-info {
  font-style: normal;
  margin-left: auto;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* --main-- */

.hero {
  background-color: #2e2f42;
  height: 600px;
}

.hero > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-baner-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-top: 0 auto;
  padding-top: 188px;
  padding-bottom: 48px;
}

.btn-banner {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-bottom: 188px;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #404bbf;
}

/* --section feature-- */
.section-features {
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  display: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.features-ithem {
  width: calc((100% - 72px) / 4);
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 8px;
}

/* --our-team-- */
.our-team {
  background-color: #f4f4fd;
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}

.team-ithem {
  background-color: #ffffff;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto;
}

.team-list {
  display: flex;
  align-items: center;
  padding-top: 72px;
  gap: 24px;
  padding-bottom: 120px;
}

.team-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  row-gap: 8px;
}

/* --section portfolio-- */

.portfolio {
  display: flex;
  justify-content: space-between;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  padding-top: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
  padding-top: 72px;
  margin-bottom: 112px;
}

.portfolio-info {
  display: flex;
  align-items: 0;
  flex-direction: column;
  margin: 0 0 0 0;
  row-gap: 8px;
}

.card-portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  padding-left: 16px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 16px;
  padding-bottom: 32px;
}

/* --footer-- */

.page-footer {
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  
}

.footer-logo .logo-part {
  color: #f4f4fd;
  height: 312px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  
  
}
